.gridFloatHeader{
    color: black;
    font-size: 32pt;
    padding: 0;
}
.gridFloatText{
    color: black;
    font-size: 12pt;
    padding-top: 2%;

}
.container{
    text-align: center;
    position: relative;
}
.gridHolder{
    display: grid;
    align-items: center;
    grid-template-columns: 33% 34% 33%;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.right{float: right;}
.left{float: left;}
p{
    padding:0;
    min-height: 1%;
    margin: 0;

}