body{
  margin: 0;
  padding: 0;
  position: relative;
}
.header{
  width: 100%;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  font-size: 30pt;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0;
}
.subheader{
  padding-right: 30%;
  padding-left: 30%;
  text-align: center;
  font-size: 12pt;
}

#outer{
    width: 100%;
    height: auto;
}
#first{
    display: inline-block;
    overflow: auto;
    padding-bottom: 34%;
}
.img_container img{
    width: 100%;
    display: block;
    grid-row-start: 1;
    grid-row-end: 3;
}
.img_container img:first-child{ position: static}
.firstImage{
    width: 100%;
    display: block;
    float: left;
}
#second{
  background-color: black;
  color: white;
    overflow: hidden;
}
#third{
    padding:0;
}
#bgimg{
  background: url("./assets/city-crossing.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 45%;
  min-width: 100%;
  display: block;
}
.content{
  width: 100%;
  margin-top: 0;
}
.twoboxgrid{
  color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
.floatR{
    float: right;
    color: white;
    padding-right: 15%;
    padding-top: 15%;
    width: 25%;
    font-size: 15pt;
    text-align: left;
}

.floatL{
    float: left;
    display: inline-block;
}
.secondImage{
    margin-left: 7%;
    width:45%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
}
.buttons{
    margin: 1% 43% 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    border-radius: 15px;
    background-color: deepskyblue;
    color: white;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.buttons:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 11px rgba(0, 0, 0, 0.2);
}
.buttons:active{
    transform: scale(0.9);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.relative { position: relative;}
.absolute {position:absolute;}
.centeralign {  text-align: center  }
.fullwidth{  width: 100%;  }